.contentSlider .about .title{
    margin-bottom: 0;
}
.contentSlider .about .description{
    width: 85%;
    height: 100%;
}
.contentSlider .about .description p{
    margin: 4% 0;
    line-height: 1.4em;

}

.contentSlider .about .description p:last-child{
    margin: 0;
}

.about .content{
    display: flex;
    align-items: center;
}
