@media screen and (max-width: 860px) {
    .about .description .desc{
        font-size: 1.1em;
    }
}
@media screen and (max-width: 700px) {
    .about .description{
        width: 100% !important;
    }
    .about .content{
        flex-direction: column;
    }
    .about .description .desc{
        font-size: 1.1em;
    }
}