@media screen and (max-width: 5500px) {
    .contentSlider{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 4800px) {
    .contentSlider{
        font-size: 4em;
    }
}
@media screen and (max-width: 4500px) {
    .contentSlider{
        font-size: 3.5em;
    }
}
@media screen and (max-width: 3900px) {
    .contentSlider{
        font-size: 3.2em;
    }
}
@media screen and (max-width: 3500px) {
    .contentSlider{
        font-size: 3em;
    }
}
@media screen and (max-width: 3400px) {
    .contentSlider{
        font-size: 2.6em;
    }
}
@media screen and (max-width: 3000px) {
    .contentSlider{
        font-size: 2.3em;
    }
}
@media screen and (max-width: 2800px) {
    .contentSlider{
        font-size: 2.2em;
    }
}
@media screen and (max-width: 2400px) {
    .contentSlider{
        font-size: 2em;
    }
}
@media screen and (max-width: 2000px) {
    .contentSlider{
        font-size: 1.6em;
    }
}
@media screen and (max-width: 1600px) {
    .contentSlider{
        font-size: 1.4em;
    }
    .title{
        margin-top: 30px ;
    }
}
@media screen and (max-width: 1330px) {
    .contentSlider{
        font-size: 1em;
    }
}
@media screen and (max-width: 700px) {
    .sliderBar{
        display: none !important;
    }
    .contentSlider .slide{
        height: auto;
        position: static;
    }
    .contentSlider .slide .content{
        height: auto;
    }
    .contentSlider .slide  .title{
        margin-bottom: 25px !important;
        margin-top: 20px;
    }
    .contentSlider .slide:last-child{
        padding-bottom: 50px;
        box-sizing: content-box !important;
    }
}

/* tablet responsive */
@media screen and (width: 1280px) and (height: 800px) {
    .contentSlider{
        font-size: 1.7em;
    }
}
@media screen and (width: 1920px) and (height: 1200px) {
    .contentSlider{
        font-size: 2em;
    }
}
@media screen and (width: 2560px) and (height: 1600px) {
    .contentSlider{
        font-size: 2.6em;
    }
}
@media screen and (width: 2048px) and (height: 1536px) {
    .contentSlider{
        font-size: 3em;
    }
}
@media screen and (width: 1024px) and (height: 768px) {
    .contentSlider{
        font-size: 1.7em;
    }
}
@media screen and (width: 2732px) and (height: 2048px) {
    .contentSlider{
        font-size: 3.5em;
    }
}
@media screen and (width: 1024px) and (height:600px) {
    .contentSlider{
        font-size: 1.3em;
    }
}
@media screen and (width: 768px) and (height:1024px) {
    .contentSlider{
        font-size: 1.7em;
    }
}
@media screen and (width: 1024px) and (height:1366px) {
    .contentSlider{
        font-size: 2em;
    }
}